# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KABARGA

config ZMK_KEYBOARD_NAME
	default "kabarga"
	
endif



config ZMK_SPLIT
	default n









CONFIG_ZMK_USB_LOGGING=y

CONFIG_ZMK_SLEEP=y
# CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=120000
